@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: rgba(255, 255, 255, 0.87);
  background: #242424;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='7680' height='4320' preserveAspectRatio='none' viewBox='0 0 7680 4320'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1158%26quot%3b)' fill='none'%3e%3crect width='7680' height='4320' x='0' y='0' fill='rgba(36%2c 36%2c 36%2c 1)'%3e%3c/rect%3e%3cpath d='M -154.30941627446327%2c3738 C 357.69%2c3283.4 1381.69%2c1722.6 2405.6905837255367%2c1465 C 3429.69%2c1207.4 3941.69%2c2432.4 4965.690583725536%2c2450 C 5989.69%2c2467.6 6501.69%2c1562 7525.690583725536%2c1553 C 8549.69%2c1544 10054.83%2c2367 10085.690583725536%2c2405 C 10116.55%2c2443 8161.14%2c1875.4 7680%2c1743' stroke='rgba(165%2c 17%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -2566.5625379943735%2c2205 C -2054.56%2c1936.4 -1030.56%2c837.2 -6.562537994373656%2c862 C 1017.44%2c886.8 1529.44%2c2185.8 2553.4374620056265%2c2329 C 3577.44%2c2472.2 4089.44%2c1472 5113.437462005626%2c1578 C 6137.44%2c1684 7160.12%2c2798.6 7673.437462005626%2c2859 C 8186.75%2c2919.4 7678.69%2c2075.8 7680%2c1880' stroke='rgba(165%2c 17%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -2732.2930086432725%2c3315 C -2220.29%2c2978 -1196.29%2c1818.4 -172.2930086432723%2c1630 C 851.71%2c1441.6 1363.71%2c2311.2 2387.7069913567275%2c2373 C 3411.71%2c2434.8 3923.71%2c1719.6 4947.7069913567275%2c1939 C 5971.71%2c2158.4 6961.25%2c3582 7507.7069913567275%2c3470 C 8054.17%2c3358 7645.54%2c1797.2 7680%2c1379' stroke='rgba(165%2c 17%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -2869.4936955938374%2c2097 C -2357.49%2c2407.8 -1333.49%2c3858 -309.4936955938374%2c3651 C 714.51%2c3444 1226.51%2c1040.2 2250.5063044061626%2c1062 C 3274.51%2c1083.8 3786.51%2c3561.8 4810.506304406163%2c3760 C 5834.51%2c3958.2 6796.61%2c2272.2 7370.506304406163%2c2053 C 7944.41%2c1833.8 7618.1%2c2541.8 7680%2c2664' stroke='rgba(165%2c 17%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1158'%3e%3crect width='7680' height='4320' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: 100vw 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  place-items: center;
  min-height: 100vh;
}

* {
  user-select: none;
}

h1,
h2 {
  margin: 0;
  color: #FFF;
}

h2 {
  font-size: 14px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 0 18px;
  box-sizing: border-box;
}

@media screen and (max-width: 750px) {
  #app {
    padding: 0 12px;
  }
}